.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    &__grid {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: max-content auto;

        transition: all 1s ease-out;
        &--nav, &--content {
            padding: 1rem;
        }

        &--nav {
            & ul {
                list-style: none;
                & li {
                    cursor: pointer;
                }
            }
        }
    }
}
