// Top bar
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h6 {
        font-variant: small-caps;
    }
}

// Side bar
.wrapper__grid--nav {
    padding: 0;
    border-right: $border-color;
    & div {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        color: darken($secondary, 15%);
        & a {
            position: relative;
            z-index: 2;
            color: inherit;
            width: 100%;
            text-decoration: none;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            transition: all .2s ease-out;
            &::after {
                content: "";
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                transition: all .2s ease-out;
            }
            &:hover::after, &.active::after {
                opacity: .7;
                left: calc(100% - 3px);
                background: $dark;
            }
            & div:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 54px;
                height: 54px;
            }
            & small {
                padding-right: 3rem;
                transition: padding .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
                &.no-show {
                    width: 0px;
                    padding: 0;
                }
            }
            & button {
                width: 100%;
                display: flex;
                justify-content: end;
            }
        }

        /** 
        / To add space between the settings icon and 
        / the other icons
        **/
        .spacer {
            flex: 1;
        }
        
        /**
        / To extend or shrink the side nav
        **/
        .slider {
            position: absolute;
            cursor: pointer;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            top: 50%;
            bottom: 50%;
            left: 100%;
            width: 10px;
            height: 25px;
            background: white;
            border: $border-color;
            border-left: none;
            border-radius: 0 3px 3px 0;

            & > * {
                font-size: 95%;
                margin-left: -10px !important;
                transition: transform .2s ease-out;
            }
            
            &.show > * {
                transform: rotateZ(180deg);
            }
        }
    } 
}
